.heading {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    text-align: center;

    &-text {
        font-family: 'Shadows Into Light Two', cursive;
        font-size: size(xl) * 1.75;
        font-weight: lighter;
        letter-spacing: 0.5rem;
    }
}
